<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastLogin</key>
	<date>2017-04-13T01:27:43Z</date>
	<key>ScreenName</key>
	<string></string>
	<key>AccessToken</key>
	<string></string>
	<key>TwitterKey</key>
	<string>PWCc8DMAYyEETbZRBtm6UcpzL</string>
	<key>TwitterSecret</key>
	<string>h5WG1TfkGS0QGNDK3dyLEe3GchBMWZqPivPIucAESPJrTlItw3</string>
	<key>TwitterBaseUrl</key>
	<string>https://api.twitter.com</string>
</dict>
</plist>
